<!--
<div id="leftBar">
    <d2-left-bar></d2-left-bar>
</div>
-->
<div id="mainPage">
    <h3>Import SMS messages from Mobilink</h3><br>
    <div>
        <label>Choose Dates Between </label>
        <input type="date" ng-model="startDate" max="{{dateToday}}"> <b>AND</b>
        <input type="date" ng-model="endDate" max="{{dateToday}}">
        <input type="button" value="Import" ng-click="importSMS()">
    </div>
    <br><br>
    <table class="table-bordered" >
        <tr>
            <th>#</th>
            <th>Phone</th>
            <th>Message</th>
            <th>Import Status</th>
            <th>smsDate</th>
            <th>Import Details</th>
            <th>SMS Details</th>
        </tr>
        <tbody ng-repeat="item in importSummary">
        <tr><td rowspan="{{item.sms.length+1}}" >{{$index+1}}</td><td rowspan="{{item.sms.length+1}}" class="align-center">{{item.phone}}</td></tr>
        <tr ng-repeat="sms in item.sms">

            <td class="align-center">{{sms.smsDetails.smsMessage}}</td>
            <td class="align-center">{{sms.importStatus}}</td>
            <td class="align-center">{{sms.smsDetails.smsDate}}</td>
            <td><json-formatter json="sms.importDetails" open="0"></td>
            <td><json-formatter json="sms.smsDetails" open="0"></td>
        </tr>
        </tbody>
    </table>

</div>
