<!--
<div id="leftBar">
    <d2-left-bar></d2-left-bar>
</div>
-->
<div id="mainPage">
    <h3 >Import SMS messages from Mobilink</h3><br>
    <div>

        <input type="checkbox" ng-model="skipInvalid">Skip Invalid SMS?<br>

        <label>Choose Dates Between </label>

        <input type="date" ng-model="startDate" max="{{dateToday}}"> <b>AND</b>
        <input type="date" ng-model="endDate" max="{{dateToday}}">
        <input type="button" class="btn btn-success" value="Import" ng-click="init()">
    </div>
    <br><br>
    <table class="responstable" >
        <tr>
            <th>#</th>
            <th>Phone</th>
            <th>Message</th>
            <th>smsDate</th>
            <th>Message Identity</th>
            <th>Import Type</th>
            <th>Import Status</th>
            <th>Reference</th>
            <th>Conflicts</th>
        </tr>
        <tbody ng-repeat="row in report">
        <tr><td rowspan="{{row.sms.length+1}}" >{{$index+1}}</td><td rowspan="{{row.sms.length+1}}" class="align-center">{{row.phone}}</td></tr>
        <tr ng-repeat="sms in row.sms">

            <td class="align-center">{{sms.smsMessage}}</td>
            <td class="align-center">{{sms.smsDate}}</td>
            <td class="align-center">{{sms.messageType}}</td>
            <td class="align-center">{{sms.importType}}</td>
            <td class="align-center">{{sms.status}}</td>
            <td class="align-center">{{sms.reference}}</td>
            <td><json-formatter json="sms.conflicts" open="0"></td>
        </tr>
        </tbody>
    </table>

</div>
